.dual-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    min-height: 780px;
    height: 86%;

    &--days-field-common {
        border-radius: 10px 0 0 0;
        background-color: #fff;
    }

    &--days-field-personal {
        background-color: #eee;
    }

    &--days-filter-list {
        width: 240px;
        margin: 0;
        padding: 0 5px;
        height: 268px;
        min-height: 35px;
        margin: 0 auto;
        align-items: flex-start;
        justify-content: center;

        .dual-ball__img {
            width: 35px;
            height: 35px;
        }
    }

    &--days-field-year-and-month {
        display: inline;
        .dual-ball__img {
            vertical-align: bottom;
            width: 19px;
            height: 19px;
        }
    }

    &--remove {
        display: inline;
        height: auto;
        min-height: auto;
        text-align: center;
        background: linear-gradient(360deg, #dfdddc, #fff);
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 7px;
        width: 100%;
        .dual-ball__img {
            vertical-align: bottom;
            width: 21px;
            height: 19px;
        }
    }
}

.dual-ball__img {
    width: 200px;
    height: 200px;
}

@media (max-width: 1485px) { 

    .dual-ball {
        height: 84%;

        &--remove {
            height: 18px;
            .dual-ball__img {
                vertical-align: top;
                width: 21px;
                height: 17px;
            }
        }
    }
}

@media (max-width: 1000px) { 

    .dual-ball {

        &--days-field-year-and-month {
            .dual-ball__img {
                width: 14px;
                height: 14px;
            }
        }

        &--remove {
            height: 17px;
        }
    }
}


@media (max-width: 600px) { 

    .dual-ball {
        height: 16px;

        &--days-filter-list {
            width: 196px;
            margin: 0;
            padding: 0 5px;
            height: 35px;
            min-height: 35px;
            align-items: center;
    
            .dual-ball__img {
                width: 35px;
                height: 35px;
            }
        }

        &--remove {
            height: 14px;
            .dual-ball__img {
                vertical-align: top;
                width: 16px;
                height: 16px;
            }
        }
    }

    .dual-ball__img {
        width: 100px;
        height: 100px;
    }
    
}