.dual-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    min-height: 780px;
    height: 86%;

    &--days-field-common {
        border-radius: 10px 0 0 0;
        background-color: #fff;
    }

    &--days-field-personal {
        background-color: #eee;
    }

    &--days-filter-list {

        align-items: flex-start;

        .dual-ball__img {
            width: 50px;
            height: 50px;
        }
    }

    &--days-field-year-and-month {
        display: inline;
        .dual-ball__img {
            vertical-align: bottom;
            width: 19px;
            height: 19px;
        }
    }
}

.dual-ball__img {
    width: 200px;
    height: 200px;
}

@media (max-width: 1485px) { 

    .dual-ball {
        height: 84%;
    }
}

@media (max-width: 600px) { 

    .dual-ball__img {
        width: 100px;
        height: 100px;
    }
}