.worker-settings-modal {
    position: absolute;
    box-sizing: border-box;
    background: linear-gradient(360deg, #ea6153, #d04737);
    color: white;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -165px;
    width: 450px;
    height: 330px;
    padding: 20px 20px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
}

.worker-settings-modal__exit-btn {
    position: absolute;
    top: 5px;
    right: 0;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transform: rotate(80deg);
    }

    &:active {
        transform: rotate(0deg);
    }
}

.worker-settings-modal__exit-btn-img {
    width: 25px;
}

.worker-settings-modal__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.worker-settings-modal__title-img {
    margin-right: 10px;
}

.worker-settings-modal__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 27px;
}

.worker-settings-modal__form-input-label {
    display: flex;
    justify-content: space-between;
    width: 93%;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.worker-settings-modal__form-input-name {
    font-size: 18px;
}

.worker-settings-modal__form-input {
    border: none;
    outline: none;
    font-family: inherit;
    background-color: transparent;
    text-align: center;
    border-bottom: 2px solid white;
    color: white;
    font-size: 16px;
    width: 75%;
    transition: 0.3s;

    &:hover,
    &:focus {
        border-bottom: 2px solid #ff886c;
    }
}

.worker-settings-modal__form-select-label {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 9px;
        right: 11px;
        width: 12px;
        height: 7px;
        background: white;
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        transition: 0.3s;
    }

    &:hover {
        &::after {
            background: #ff886c;
        }
    }
}

.worker-settings-modal__form-select {
    appearance: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: inherit;
    background: linear-gradient(360deg, #ea6153, #d04737);
    color: white;
    font-size: 16px;
    width: 76%;
    cursor: pointer;
}


.worker-settings-modal__form-select-option {
    background: #ea6153;
}

.worker-settings-modal__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    outline: none;
    color: white;
    background-color: transparent;
    font-family: "Roboto-Regular", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        border: 2px solid rgba(255, 255, 255, 1);
        color: rgb(255, 255, 255);

        .unsaved-changes-modal__btn-img {
            transform: translateY(-2px);
        }
    }
}