.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.auth__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 380px;
    border-radius: 10px;
    background-color: rgba(68, 66, 66, 0.72);
    box-shadow: 0px 0px 8px 3px rgba(30, 29, 29, 0.9);
    padding: 60px 60px 40px;
}

.auth__content-logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px; 
}

.auth__content-logo {
    width: 27px;
    margin-bottom: 10px;
}

.auth__content-logo-text {
    color: rgb(243, 243, 243);
    font-size: 22px;
}

.auth__inputs {
    width: 100%;
    margin-bottom: 20px;
}

.auth__input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &:first-child {
        margin-bottom: 10px;
    }
}

.auth__input-text {
    color: rgb(243, 243, 243);
}

.auth__input {
    border: none;
    outline: none;
    font-family: "Roboto-Regular", sans-serif;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: rgb(243, 243, 243);
    font-size: 16px;
    width: 70%;
    transition: 0.3s;

    &:hover,
    &:focus {
        border-bottom: 2px solid #7700FF;
    }
}

.auth__btns {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-top: 20px;
}

.auth__input-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(243, 243, 243);
    background-color: transparent;
    font-family: "Roboto-Regular", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;

    &:hover {
        color: rgb(255, 255, 255);
        transform: scale(0.97);
    }

    &:active {
        transform: scale(0.95);
    }
}