.seats-field {
    width: 100%;
}

.seats-field-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58.5px;
    margin-bottom: 45px;
    color: rgb(243, 243, 243);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(70deg, #ea6153, #e34938);
    font-size: 16px;
}

.seats-field-tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
}

.seats-table {
    display: flex;
    border-collapse: collapse;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
    margin: 0 auto 20px auto;
    background-color: white;
    border-radius: 10px;
}

.seats-table__row {
    display: flex;
}

.seats-table__row:nth-child(odd) {
    .seats-table__сell {
        border-bottom: 20px solid #ea6153;
    }

    .seats-table__img {
        margin-bottom: 8px;
    }

    .seats-table__сell {

        &:hover {
            .seats-table__img {
                transform: translateY(-5px);
            }
        }
    }

}

.seats-table__row:nth-child(even) {
    .seats-table__img {
        transform: rotate(180deg);
    }

    .seats-table__text-wrapper {
        margin-top: 10px;
    }

    .seats-table__text-wrapper--change {
        top: 10px;
    }

    .seats-table__сell {

        &:hover {
            .seats-table__img {
                transform: rotate(180deg) translateY(-5px);
            }
        }
    }

}

.seats-table__сell {
    display: inline-flex;
    justify-content: space-between;
    width: 225px;
    position: relative;
    padding: 10px 5px;
    transition: 0.3s;
}

.seats-table__img {
    transition: 0.3s;
    width: 50px;
    margin-left: 5px;
}

.seats-table__text-wrapper {
    display: flex;
    flex-direction: column;
}

.seats-table__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 14px;
    color: #313131;
}
