.days-field {
    background-color: #bfbfbf;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 15px;
    min-height: 480px;
}

.filter-list + .days-field .selected {
    background-color: #0f7db3;
    opacity: 1;
    cursor: auto;
    
    .days-field__item-number {
        display: none;
    }

    .days-field__item-day-name {
        display: none;
    }

    .days-field__btn-group {
        display: flex;
    }
}

.filter-list + .days-field .worked {
    background-color:  #79b4d7;
}

.filter-list + .days-field .weekend {
    background-color:  #79d799;
}

.filter-list + .days-field .vacation {
    background-color:  #8079d7;
}