.days-field-common-controls {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    margin: 0 auto;
}

.days-field-common-controls-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    color: rgb(243, 243, 243);
    background-color: transparent;
    font-family: "Roboto-Regular", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        border: 2px solid rgb(243, 243, 243);

        .days-field-common-controls-btn__img {
            transform: translateY(-2px);
        }
    }
}

.days-field-common-controls-btn__img {
    margin-right: 10px;
    width: 28px;
    transition: 0.3s;
}

@media (max-width: 1485px) { 

    .days-field-common-controls {
        width: 155px;
    }

    
    .days-field-common-controls-btn {
        padding: 10px 10px;
        font-size: 14px;
    }
}

@media (max-width: 1000px) { 

    .days-field-common-controls {
        width: 115px;
    }

    
    .days-field-common-controls-btn {
        padding: 10px 5px;
        font-size: 12px;
    }

    .days-field-common-controls-btn__img {
        margin-right: 5px;
        width: 25px;
    }
}