.days-field-personal {
    width: 100%;
    background-color: #FFF;
    border-collapse: collapse;
}

.days-field-personal-items-row:first-child {
    background-color: #934BE6;
    
    .days-field-personal__item {
        width: 2%;
        padding: 10px;
        color: white;
    }
}

.days-field-personal .selected {
    cursor: auto;
    background-color: transparent;
    
    .days-field-personal__item-hours {
        display: none;
    }

    .days-field-personal__btn-group {
        display: flex;
    }
}

.days-field-personal td.worked {
    background-color:  #79b4d7;
}

.days-field-personal td.weekend {
    background-color:  #79d799;
}

.days-field-personal td.vacation {
    background-color:  #8079d7;
}