.days-field-personal-wrapper {
    background-color: #EEE;
    height: 100%;
}


.days-field-personal-content-field {
    overflow: scroll;
}

.days-field-personal {
    background-color: #FFF;
    margin-bottom: auto;
    border-collapse: collapse;
}

.days-field-personal-items-row:first-child {
    
    .days-field-personal__item {
        width: 2%;
        height: 38.5px;
        padding: 10px;
        color: white;
        box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
        background: linear-gradient(175deg, #934BE6, #7b20e2);
    }
}

.days-field-personal .days-field-personal--selected {
    cursor: auto;
    background-color: transparent;
    
    .days-field-personal__item-hours {
        display: none;
    }

    .days-field-personal__btn-group-list {
        display: flex;
    }
}

.days-field-personal .days-field-personal--show-working-hours  {
    .days-field-personal__sub-menu {
        display: flex;
    }
}

.days-field-personal td.days-field-personal--weekend {
    background-color: rgba(136, 136, 136, 1);
}

.days-field-personal td.days-field-personal--vacation {
    background-color: rgba(255, 203, 1, 1);
}

.days-field-personal td.days-field-personal--worked-09-18 {
    background:#ffa8d5;
}

.days-field-personal td.days-field-personal--worked-11-20 {
    background:#ce6b9e;
}

.days-field-personal td.days-field-personal--worked-08-20 {
    background:#23c6db;
}

.days-field-personal td.days-field-personal--worked-09-21 {
    background:#cccb79;
}

.days-field-personal td.days-field-personal--worked-10-22 {
    background:#6fc48c;
}

.days-field-personal td.days-field-personal--worked-11-23 {
    background:#d55959;
}

.days-field-personal td.days-field-personal--worked-12-24 {
    background:#aca88b;
}

.days-field-personal td.days-field-personal--worked-14-02 {
    background:#ae9478;
}

.days-field-personal td.days-field-personal--worked-21-09 {
    background:#5e69a6;
}

.days-field-personal__no-items {
    text-align: center;
}

@media (max-width: 1485px) { 

    .days-field-personal-items-row:first-child {
        .days-field-personal__item {
            box-sizing: border-box;
            width: 2%;
            height: 54px;
        }
    }
}


@media (max-width: 1000px) { 

    .days-field-personal-items-row:first-child {
        .days-field-personal__item {
            height: 48px;
        }
    }
}