.filter-list__filter {
    list-style: none;

}

.filter-list__filter-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 176px;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    border-radius: 5px;
    border: 2px solid transparent;
    outline: none;
    color: rgb(243, 243, 243);
    background-color: transparent;
    font-family: "Roboto-Regular", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        border: 2px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);

        .filter-list__filter-img {
            transform: translateY(-2px);
        }
    }
}

.active-filter {
    .filter-list__filter-btn {
        border: 2px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);;
    }

    .filter-list__filter-img {
        transform: translateY(-2px);
    }
}

.filter-list__filter-img {
    margin-right: 10px;
    width: 28px;
    transition: 0.3s;
}

.filter-list__text {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}