.days-field-common {
    width: 85%;
    border-collapse: collapse;
    background-color: #EEEEEE
}

.days-field-common-items-row:first-child {
    background: linear-gradient(60deg, #d9edf7, #94dcffc4);
}

.days-field-common-item {
    padding: 5px 0;
    width: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    cursor: pointer;
}

.days-field-common-item:first-child {
    border: none;
    border-bottom: 1px solid #DDD;
}

.days-field-common-days-item {
    font-weight: normal;
    padding: 10px;
}

.selected {
    background-color: #cc628e;
}

.worked {
    background-color: #79b4d7;
}

.weekend {
    background-color: #79d799;
}

.vacation {
    background-color: #8079d7;
}
