.days-field-common {
    background-color: cadetblue;
    border-collapse: collapse;
}

// .days-field-common-items-row {
//     margin: 2px 0;
// }

.days-field-common-item {
    padding: 5px 0;
    width: 30px;
    text-align: center;
    background-color: darkgreen;
    border: 4px solid rgb(105, 109, 121);
    cursor: pointer;
}