.days-field-common-wrapper {
    overflow: scroll;
    max-height: 85vh;
}


.days-field-common {
    border-collapse: collapse;
    background-color: #FFF;
}

.days-field-common-item {
    padding: 5px 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid #DDD;
    border-top: none;
    cursor: pointer;
    transition: background 0.3s;


    &:hover {
        background-color: rgba(224, 222, 222, 0.8);
        box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    }

    &:active {
        border: 2px solid rgb(90, 90, 90);
    }
}

.days-field-common-item:first-child {
    border: none;
    text-align: left;
    border-bottom: 1px solid #DDD;
    transition: 0.2s;

    &:active {
        .days-field-common-item-link {
            transform: scale(0.95);
        }
    }
}

.days-field-common-days-item {
    width: 2%;
    font-weight: normal;
    padding: 10px;
    color: white;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(175deg, #ea6153, #e34938);
    position: sticky;
    top: 0;
    z-index: 2; 
}

.days-field-common-item-link {
    transition: 0.3s;
    display: block;
    color: rgba(0, 0, 0, 0.85);
    padding: 15px;
    white-space: nowrap;
}

.worked-09-18 {
    background:#ffa8d5;
}

.worked-11-20 {
    background:#ce6b9e;
}

.worked-08-20 {
    background:#23c6db;
}

.worked-09-21 {
    background:#cccb79;
}

.worked-10-22 {
    background:#6fc48c;
}

.worked-11-23 {
    background:#d55959;
}

.worked-12-24 {
    background:#aca88b;
}

.worked-14-02 {
    background:#ae9478;
}

.worked-21-09 {
    background:#5e69a6;
}

.weekend {
    background-color: rgba(136, 136, 136, 1);
}

.vacation {
    background-color: rgba(255, 203, 1, 1);
}

.selected {
    border: 2px solid rgb(90, 90, 90);
}

@media (max-width: 1485px) { 

    .days-field-common-item {
        font-size: 14px;
    }

    .days-field-common-days-item {
        font-size: 14px;
    }

    .days-field-common-item-link {
        white-space: normal;
    }

}

@media (max-width: 1000px) { 
    
    .days-field-common-item {
        font-size: 12px;
    }

    .days-field-common-days-item {
        font-size: 12px;
    }
}