.days-field-personal-wrapper {
    border-radius: 20px 0 0 0;
    background-color: #EEE;
    height: 100%;
}


.days-field-personal-content-field {
    overflow: scroll;
}

.days-field-personal-years {
    position: relative;
    text-align: center;
    background: linear-gradient(360deg, #7F39D0, #5b13ac);
    padding: 15px;
    border-radius: 10px 0 0 0;
    color: white;
    font-size: 18px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    z-index: 3; 
}


.days-field-personal {
    background-color: #FFF;
    margin-bottom: auto;
    border-collapse: collapse;
}

.days-field-personal__items-row:first-child {
    
    .days-field-personal__item {
        width: 2%;
        height: 38.5px;
        padding: 10px;
        color: white;
        box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
        background: linear-gradient(175deg, #934BE6, #7b20e2);
    }
}

.days-field-personal__item-btn-group {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 54px;

    &--year {
        .days-field-personal__item-btn {
            font-size: 20px;
        }
    }
}

.days-field-personal__item-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;

    &-left {
        &:hover {
            transform: translateX(-5px);
        }
    }

    &-right {
        &:hover {
            transform: translateX(5px);
        }
    }

    &:active {
        transform: translateX(0);
    }
}


.days-field-personal__item-month {
    width: 85px;
}

.days-field-personal__item-year {
    width: 65px;
}

.days-field-personal .days-field-personal--selected {
    cursor: auto;
    background-color: transparent;
    
    .days-field-personal__item-hours {
        display: none;
    }

    .days-field-personal__btn-group-list {
        display: flex;
    }
}

.days-field-personal .days-field-personal--show-working-hours  {
    .days-field-personal__sub-menu {
        display: flex;
    }
}

.days-field-personal td.days-field-personal--weekend {
    background-color: rgba(136, 136, 136, 1);
}

.days-field-personal td.days-field-personal--vacation {
    background-color: rgba(255, 203, 1, 1);
}

.days-field-personal td.days-field-personal--worked-09-18 {
    background:#ffa8d5;
}

.days-field-personal td.days-field-personal--worked-11-20 {
    background:#ce6b9e;
}

.days-field-personal td.days-field-personal--worked-08-20 {
    background:#23c6db;
}

.days-field-personal td.days-field-personal--worked-09-21 {
    background:#cccb79;
}

.days-field-personal td.days-field-personal--worked-10-22 {
    background:#6fc48c;
}

.days-field-personal td.days-field-personal--worked-11-23 {
    background:#d55959;
}

.days-field-personal td.days-field-personal--worked-12-24 {
    background:#aca88b;
}

.days-field-personal td.days-field-personal--worked-14-02 {
    background:#ae9478;
}

.days-field-personal td.days-field-personal--worked-21-09 {
    background:#5e69a6;
}

.days-field-personal__no-items {
    text-align: center;
}

@media (max-width: 1485px) { 

    .days-field-personal-years {
        font-size: 16px;
    }

    .days-field-personal__items-row:first-child {
        .days-field-personal__item {
            box-sizing: border-box;
            width: 2%;
            height: 54px;
        }
    }

    .days-field-personal__item-btn-group {
        margin-left: 0;
    }

    .days-field-personal__item-month {
        width: 73px;
    }

    .days-field-personal__item-year {
        width: 55px;
    }
}


@media (max-width: 1000px) { 

    .days-field-personal-years {
        font-size: 14px;
    }

    .days-field-personal__items-row:first-child {
        .days-field-personal__item {
            height: 48px;
        }
    }

    .days-field-personal__item-month {
        width: 65px;
    }

    .days-field-personal__item-year {
        width: 45px;
    }
}