.days-field-personal__item {
    padding: 0;
    font-weight: normal;
    transition: 0.3s;
}

.days-field-personal__item:first-child {
    white-space: nowrap;
    padding: 15px;
}

.days-field-personal__item-body {
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.days-field-personal__item-hours {
    transition: 0.3s;
    font-size: 18px;
}

.days-field-personal__btn-group {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 140px;
    background-color: #4b4b4b;
    transition: 0.3s;
}


.days-field-personal__btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    width: 28px;

    img {
        width: 100%;
        transition: 0.3s;
    }

    &:hover img {
        transform: scale(1.2);
    }
}

.days-field-personal-items-row:nth-child(2) {
    .days-field-personal__item {
        border: 1px solid #DDD;
        border-top: none;
        height: 110px;

        &:not(:first-child) {
            cursor: pointer;

            &:hover {
                .days-field-personal__item-hours {
                    transform: scale(1.1);
                }
                
            }
        
            &:active {
                transform: scale(0.95);
            }
        }
    }

    .days-field-personal__item:first-child {
        border-left: none;
    }
}


@media (max-width: 1485px) { 

    .days-field-personal__item {
        font-size: 14px;
    }

    .days-field-personal__item:first-child {
        white-space: normal;
    }

    .days-field-personal__item-hours {
        font-size: 16px;
    }

}

@media (max-width: 1000px) { 

    .days-field-personal__item {
        font-size: 12px;
    }

    .days-field-personal__item-hours {
        font-size: 14px;
    }

}