.arrangements-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 30px;
    width: 85%;
}

.arrangements-table {
    border-collapse: collapse;
}


.arrangements-table__row:nth-child(odd) {
    .arrangements-table__сell {
        border-bottom: 20px solid #888888;
    }

    .arrangements-table__img {
        margin-bottom: 8px;
    }

    .arrangements-table__сell {

        &:hover {
            .arrangements-table__img {
                transform: scale(1.1);
            }
        }
    }

}

.arrangements-table__row:nth-child(even) {
    .arrangements-table__img {
        transform: rotate(180deg);
    }

    .arrangements-table__text-wrapper {
        margin-top: 10px;
    }

    .arrangements-table__text-wrapper--change {
        top: 10px;
    }

    .arrangements-table__сell {

        &:hover {
            .arrangements-table__img {
                transform: rotate(180deg) scale(1.1);
            }
        }
    }

}

.arrangements-table__сell {
    display: inline-flex;
    position: relative;
    width: 240px;
    padding: 0 5px;
    border-right: 3px solid #888888;
    background-color: #BFBFBF;
    transition: 0.3s;

    &:active{
        transform: scale(0.95);
    }
}


.arrangements-table__сell:first-child {
    border-left: 3px solid #888888;
}

.arrangements-table__img {
    transition: 0.3s;
    width: 50px;
}

.arrangements-table__text-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
}

.arrangements-table__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    font-size: 14px;
    color: #313131;
}
