.app {
    display: flex;
    min-height: 98vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

.header__main-nav {
    display: flex;
    align-items: center;
    min-height: 110px;
}

.header__second-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 80px;
}

.main {
    display: flex;
    width: 100%;
    flex: 1;
}

.controls {
    box-sizing: border-box;
    width: 17%;
    padding-top: 58px;
}

.main-content {
    width: 83%;
    background-color: #EEE;
}