.days-field__item-body {
    min-width: 98px;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.worked {
    background-color: green;
}
