.managing-workers {
    height: 100%;
}

.managing-workers__content {
    height: 100%;
    display: flex;
}

.managing-workers__list-wrapper {
    min-width: 300px;
    padding-top: 58px;
}

.managing-workers__list {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.managing-workers__list-item {
    margin: 0 0 15px 0;
}

.managing-workers__list-item-btn {
    max-width: 180px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 5px;
    color: rgb(243, 243, 243);
    background-color: transparent;
    font-family: "Roboto-Regular", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    

    &:hover {
        border: 2px solid rgb(243, 243, 243);

        .managing-workers__list-item-btn-img {
            transform: translateY(-2px);
        }
    }

    &:active {
        transform: scale(0.95);
    }
}

.managing-workers__worker-settings {
    background-color: #EEE;
    border-radius: 10px 0 0 0;
    height: 100%;
    flex: 1;
}

.managing-workers__list-item-btn-img {
    margin-right: 10px;
    width: 28px;
    transition: 0.3s;
}

@media (max-width: 1485px) { 

    .managing-workers__list-wrapper {
        min-width: 185px;
    }
}


@media (max-width: 1000px) { 

    .managing-workers__list-wrapper {
        min-width: 135px;
    }
}
