.days-field-common-wrapper {
    position: relative;
    overflow: scroll;
    max-height: 80vh;
}

.days-field-common {
    position: relative;
    border-collapse: collapse;
    background-color: #FFF;
}

.days-field-common-years {
    position: sticky;
    text-align: center;
    background: linear-gradient(2deg, #ea6153, #d04737);
    padding: 15px;
    border-radius: 10px 0 0 0;
    color: white;
    font-size: 18px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.15);
    top: 0;
    z-index: 4; 
}

.days-field-common__item {
    position: relative;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid #DDD;
    border-top: none;
    cursor: pointer;
    transition: background 0.3s;


    &:hover {
        background-color: rgba(224, 222, 222, 0.8);
        box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    }

    &:active {
        border: 2px solid rgb(90, 90, 90);
    }

    &:first-child {
        position: sticky;
        left: 0;
        border: none;
        text-align: left;
        border-bottom: 1px solid #DDD;
        transition: 0.2s;
        z-index: 1;

        .days-field-common__item-link {
            display: block;
            background-color: #FFF;
            padding: 17px;
            border-right: 1px solid #DDD;

            &:hover {
                color: rgba(0, 0, 0, 0.6);
            }

            &:active {
                font-size: 96%;
            }
        }

        &:hover {
            .days-field-common__item-worker-settings-btn { 
                opacity: 1;
            }
        }
    }

    &:nth-child(4) {
        border-left: none;
    }

    &--specified {
        .days-field-common__item-worker-settings-btn + .days-field-common__item-link {
            
            &:hover {
                color:  rgba(255, 255, 255, 0.6) 
            }
        }

        .days-field-common__item-worker-settings-btn-img {
            fill: white;
        }
    }
}

.days-field-common__shift-and-team-title-item {
    position: sticky;
    font-weight: normal;
    padding: 5px;
    color: white;
    font-size: 12px;
    background: linear-gradient(175deg, #ea6153, #e34938);

    &:nth-child(2) {
        left: 246.4px;
        box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.15);
        z-index: 3;
    }

    &:nth-child(3) {
        left: 296.4px;
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.15);
        z-index: 2;
    }

}

.days-field-common__shift-and-team-item {
    position: sticky;
    left: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    background-clip: padding-box;
    background-color: white;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 1;


    &:hover {
        background-color: rgba(148, 66, 66, 1);
        box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    }

    &:active {
        border: 2px solid rgb(90, 90, 90);
    }

    &:nth-child(2) {
        left: 246.4px;

        .days-field-common__shift-and-team-item-input-wrapper {
            border-right: 1px solid #DDD;
        }
    }

    &:nth-child(3) {
        left: 296.4px;
        box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
        
    }

    &:not(:last-child) {
        border-bottom: 1px solid #DDD;
    }
}

.days-field-common__item-input-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

.days-field-common__shift-and-team-item-input-wrapper {
    height: 53px;
    display: flex;
}

.days-field-common__item-input,
.days-field-common__shift-and-team-item-input {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Roboto-Regular", sans-serif;
    text-align: center;
    color: inherit;
    font-size: 16px;
    width: 90%;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        transform: scale(1.1);
        color: #5b13ac;
    }
}

.days-field-common__shift-and-team-item-input {

}

.days-field-common__item-worker-settings-btn {
    position: absolute;
    top: 3px;
    right: 5px;
    opacity: 0;
    padding: 0;
    border: none;
    border-radius: 13px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: scale(1.4) rotate(30deg);
    }

    &:active {
        transform: scale(1.4) rotate(-30deg);
    }
    
}

.days-field-common__item-worker-settings-btn-img {
    width: 12px;
    height: 12px;
    fill: #3f3f3f;
}

.days-field-common__days-item,
.days-field-common__additional-information-item {
    width: 2%;
    font-weight: normal;
    padding: 10px;
    color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(175deg, #ea6153, #e34938);
    position: sticky;
    top: 0;


    &:first-child {
        left: 0;
        z-index: 4; 
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.15);
    }
}

.days-field-common__additional-information-item {
    font-size: 12px;
}

.days-field-common__incidents-per-hour-group,
.days-field-common__days-item-btn-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &--year {
        .days-field-common__days-item-btn {
            font-size: 20px;
        }
    }
}

.days-field-common__incidents-per-hour-group {
    margin-top: 3px;
}

.days-field-common__incidents-per-hour-btn,
.days-field-common__days-item-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    color: white;
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;
    cursor: pointer;
    transition: 0.3s;

    &-left {
        &:hover {
            transform: translateX(-5px);
        }
    }

    &-right {
        &:hover {
            transform: translateX(5px);
        }
    }

    &:active {
        transform: translateX(0);
    }
}

.days-field-common__days-item-year {
    width: 65px;
}

.days-field-common__days-item-month {
    width: 85px;
}

.days-field-common__incidents-per-hour-value {
    display: flex;
    justify-content: center;
    width: 35px;
}

.days-field-common__item-link {
    transition: 0.3s;
    display: block;
    color: rgba(0, 0, 0, 0.85);
    padding: 15px;
    white-space: nowrap;
}

.worked-director,
.days-field-common__item:first-child .days-field-common__item-link--director {
    background-color:#db9191;
    color: white;
}

.worked-09-18,
.days-field-common__item:first-child .days-field-common__item-link--09-18 {
    background-color:#ffa8d5;
    color: white;
}

.worked-11-20,
.days-field-common__item:first-child .days-field-common__item-link--11-20 {
    background-color:#ce6b9e;
    color: white;
}

.worked-08-20,
.days-field-common__item:first-child .days-field-common__item-link--08-20 {
    background-color:#23c6db;
    color: white;
}

.worked-09-21,
.days-field-common__item:first-child .days-field-common__item-link--09-21 {
    background-color:#cccb79;
    color: white;
}

.worked-10-22,
.days-field-common__item:first-child .days-field-common__item-link--10-22 {
    background-color:#6fc48c;
    color: white;
}

.worked-11-23,
.days-field-common__item:first-child .days-field-common__item-link--11-23 {
    background-color:#d55959;
    color: white;
}

.worked-12-24,
.days-field-common__item:first-child .days-field-common__item-link--12-24 {
    background-color:#aca88b;
    color: white;
}

.worked-14-02,
.days-field-common__item:first-child .days-field-common__item-link--14-02 {
    background-color:#ae9478;
    color: white;
}

.worked-21-09,
.days-field-common__item:first-child .days-field-common__item-link--21-09 {
    background-color: #5e69a6;
    color: white;
}

.weekend {
    background-color: rgba(136, 136, 136, 1);
}

.vacation {
    background-color: rgba(255, 203, 1, 1);
}

.selected {
    border: 2px solid rgb(90, 90, 90);
}

@media (max-width: 1485px) { 

    .days-field-common__item {
        font-size: 14px;
    }

    .days-field-common__days-item {
        font-size: 14px;
    }

    .days-field-common__item-link {
        white-space: normal;
    }

    .days-field-common__item-worker-settings-btn {
        top: 6px;
        right: 6px;

        &:hover {
            transform: scale(1.2) rotate(30deg);
        }
    
        &:active {
            transform: scale(1.2) rotate(-30deg);
        }
        
    }

    .days-field-common__item-worker-settings-btn-img {
        width: 15px;
    }

    .days-field-common-years {
        font-size: 16px;
    }

    .days-field-common__days-item-month {
        width: 73px;
    }

    .days-field-common__days-item-year {
        width: 55px;
    }

}

@media (max-width: 1000px) { 
    
    .days-field-common__item {
        font-size: 12px;
    }

    .days-field-common__days-item {
        font-size: 12px;
    }

    .days-field-common__item-input {
        font-size: 12px;
    }

    .days-field-common__item-worker-settings-btn {
        opacity: 1;
        
    }

    .days-field-common-years {
        font-size: 14px;
    }

    .days-field-common__days-item-month {
        width: 65px;
    }

    .days-field-common__days-item-year {
        width: 45px;
    }
}