.days-field-common-wrapper {
    position: relative;
    overflow: scroll;
    max-height: 80vh;
}

.days-field-common {
    position: relative;
    border-spacing: 0;
    background-color: #FFF;
}

.days-field-common-years {
    position: sticky;
    text-align: center;
    background: linear-gradient(2deg, #ea6153, #d04737);
    padding: 15px;
    border-radius: 10px 0 0 0;
    color: white;
    font-size: 18px;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.15);
    top: -54px;
    z-index: 5; 
}

.days-field-common__items-row:first-child {
    background: linear-gradient(90deg, #ff5b5b 47%, #828282 91%);
}

.days-field-common__item {
    position: relative;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    background-clip: border-box;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-top: none;
    cursor: pointer;
    transition: background 0.3s;


    &:hover {
        background-color: rgba(224, 222, 222, 0.8);
        box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    }

    &:active {
        border: 2px solid rgb(90, 90, 90);
    }

    &:first-child {
        position: sticky;
        left: 0;
        border: none;
        text-align: left;
        background-color: #FFF;
        border-bottom: 1px solid #DDD;
        box-shadow: 1px 0 3px 0px rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        z-index: 2;

        .days-field-common__item-link {
            display: block;
            background-color: #FFF;
            padding: 11px 17px 11px 11px;
            font-size: 14px;
            width: 235px;
            border-right: 1px solid #DDD;

            &:hover {
                color: rgba(0, 0, 0, 0.6);
            }

            &:active {

                    transform: scale(0.9);

            }
        }

        &:hover {
            .days-field-common__item-worker-settings-btn { 
                opacity: 1;
            }
        }
    }

    &--specified {
        .days-field-common__item-worker-settings-btn + .days-field-common__item-link {
            
            &:hover {
                color:  rgba(255, 255, 255, 0.6) 
            }
        }

        .days-field-common__item-worker-settings-btn-img {
            fill: white;
        }
    }

    &--groupLeader {
        .days-field-common__item-input {
            font-family: "Roboto-Bold", sans-serif;

        }
    }

    &--blue {
        background: linear-gradient(70deg, #346497, #005b88);

        .days-field-common__item-input {
            color: white;

        }
    }

    &--km-color {
        background: linear-gradient(70deg, #c67979, #b06262);

        .days-field-common__item-input {
            color: white;

        }
    }

    &--non-clickable {
        cursor: default;

        &:hover {
            background-color: white;
            box-shadow: none;
        }

        &:active {
            border-right: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
            border-top: none;
            border-left: none;
        }

        .days-field-common__item-input {
            cursor: default;

            &:hover {
                transform: none;
            }

            &:focus {
                transform: none;
                color: inherit;
            }
        }
    }

    &--non-clickable.days-field-common__item--coefficient,
    &--non-clickable.days-field-common__item--coefficientNight {
        .days-field-common__item-input {
            &:focus {
                color: white;
            }
        }
    }

    &--non-clickable.days-field-common__item--training {
        .days-field-common__item-input {
            &:focus {
                color: #3faa6c;
            }
        }
    }

    &--segment {
        .days-field-common__item-input {
            color: #393939;
            font-family: "Roboto-Bold", sans-serif;
        }
    }
    
    &--linear-worker {

        &:active {
            border-right: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
            border-top: none;
            border-left: none;
        }
    }

    &--linear-worker.days-field-common__item--messagePlan {
        .days-field-common__item-input {

            &:focus {
                color: #393939;
            }
        }
    }


    &--management {
        background-color: rgba(5, 64, 117, 0.67);
        .days-field-common__item-input {
            color: white;
        }
    }
    
    &--management.days-field-common__item--non-clickable {
        background-color: rgba(5, 64, 117, 0.67);

        .days-field-common__item-input {
            color: white;
        }

        &:hover {
            background-color: rgba(5, 64, 117, 0.67);
        }


        .days-field-common__item-input {
            &:focus {
                color: white;
            }
        }
    }

    &--management.days-field-common__item--monthlyNorm {
        background-color: white;

        &:hover {
            background-color: white;
        }

        .days-field-common__item-input {
            color: #393939;

            &:focus {
                color: #393939;
            }
        }
    }

    &--monthlyNorm {
        border: 2px solid #6a6a6a;

        &:active {
            border: 2px solid #6a6a6a;
        }

        .days-field-common__item-input {
            color: #393939;
            font-family: "Roboto-Bold", sans-serif;
        }
    }

    &--coefficient {
        background: linear-gradient(175deg, #EAB663, #E8BD79);

        .days-field-common__item-input {
            color: white;

        }
    }

    &--coefficientNight {
        background: linear-gradient(70deg, #6470b0, #325ad0);

        .days-field-common__item-input {
            color: white;

            &:focus {
                color: #dd65ff;
            }
        }
    }

    &--messagePlan {
        .days-field-common__item-input {

            &:focus {
                color: white;
            }
        }
    }


    &--adjustment {

        .days-field-common__item-input {
            color: #9f0f0f;
            font-size: 11px;

            &:focus {
                color: #9f0f0f;
            }
        }
    }

    &--training {

        .days-field-common__item-input {
            color: #3faa6c;
        }
    }
}

.days-field-common__shift-and-team-title-item {
    position: sticky;
    top: 0;
    font-weight: normal;
    padding: 5px 7px;
    color: white;
    font-size: 12px;
    line-height: 11px;
    background: linear-gradient(175deg, #ea6153, #e34938);


    &:nth-child(2) {
        left: 264.4px;
        box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.15);
        z-index: 4;
    }

    &:nth-child(3) {
        left: 289.4px;
        box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.15);
        z-index: 3;
    }

}

.days-field-common__shift-and-team-item {
    position: sticky;
    left: 0;
    padding: 0;
    min-width: 25px;
    color: rgba(0, 0, 0, 0.85);
    background-clip: content-box;
    background-color: white;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 1;


    &:hover {
        background-color: rgb(218, 218, 218);
    }

    &:nth-child(2) {
        left: 264.4px;

        .days-field-common__shift-and-team-item-input-wrapper {
            border-right: 1px solid #DDD;
        }
    }

    &:nth-child(3) {
        left: 289.4px;
        box-shadow: 1px 0 3px 0px rgba(0, 0, 0, 0.2);
    }

    &:not(:last-child) {
        border-bottom: 1px solid #DDD;
    }
}

.days-field-common__item-input-wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

.days-field-common__shift-and-team-item-input-wrapper {
    height: 39px;
    display: flex;
}

.days-field-common__item-input,
.days-field-common__shift-and-team-item-input {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: "Roboto-Regular", sans-serif;
    text-align: center;
    color: inherit;
    font-size: 14px;
    width: 90%;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        transform: scale(1.1);
        color: #5b13ac;
    }
}

.days-field-common__item-input {
    width: 50%;

    &--additionalInformation {
        width: 90%;
    }
}

.days-field-common__shift-and-team-item-input {
    font-size: 14px;
}

.days-field-common__item-worker-settings-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    opacity: 0;
    padding: 0;
    border: none;
    border-radius: 13px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        transform: scale(1.4) rotate(30deg);
    }

    &:active {
        transform: scale(1.4) rotate(-30deg);
    }
    
}

.days-field-common__item-worker-settings-btn-img {
    width: 12px;
    height: 12px;
    fill: #3f3f3f;
}

.days-field-common__days-item,
.days-field-common__additional-information-item {
    position: sticky;
    width: 2%;
    font-weight: normal;
    padding: 10px;
    color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(175deg, #ea6153, #e34938);
    top: 0;
    z-index: 2;


    &:first-child {
        left: 0;
        z-index: 5; 
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.15);
    }


    &--weekend {
        background: linear-gradient(360deg, #EE765E, #F9AA5F);
    }

    &--monthlyNorm {
        background: linear-gradient(175deg, #554848, #5b5151);

        div {
            font-family: "Roboto-Bold", sans-serif;
        }
    }

    &--coefficient {
        background: linear-gradient(175deg, #ECAB43, #E8BD79);
        padding: 10px 16px;
    }

    &--coefficientNight {
        background: linear-gradient(70deg, #5e69a6, #012388);
        padding: 10px 16px;
    }

    &--adjustment {
        background: linear-gradient(70deg, #d55959, #9f0f0f);
        padding: 10px 15px;
    }

    &--training {
        background: linear-gradient(70deg, #64b084, #32d074);
    }

    &--breaks,
    &--shifts,
    &--segment {
        padding: 10px 17px;
        background: linear-gradient(70deg, #888, #7b7b7b);
    }

    &--segment {
        background: linear-gradient(70deg, #888, #7b7b7b);
    }


    &--norm {
        padding: 10px 17px;
    }

    &--norm,
    &--withTrainingBreaks,
    &--withADecreasingCoefficient,
    &--totalWithTheNight {
        background: linear-gradient(70deg, #6b92bb, #3c87ac);
    }

    &--messagePlan {
        background: linear-gradient(70deg, #346497, #005b88);

        .days-field-common__incidents-per-hour-title {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 15px 0;

        }
    }

    &--acknowledgements {
        background: linear-gradient(70deg, #c67979, #b06262);

        .days-field-common__incidents-per-hour-title {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 15px 0;

        }
    }
}

.days-field-common__additional-information-item {
    font-size: 12px;
}

.days-field-common__additional-information-item-img {
    width: 16px;
    margin-top: 10px;
}

.days-field-common__item-input--additionalInformation {
    font-size: 13px;
}

.days-field-common__incidents-per-hour-group,
.days-field-common__days-item-btn-group {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &--year {
        .days-field-common__days-item-btn {
            font-size: 20px;
        }
    }
}

.days-field-common__incidents-per-hour-group {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 12px;
    left: 50%;
    width: 80px;
    margin-left: -40px;
}

.days-field-common__incidents-per-hour-btn,
.days-field-common__days-item-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    color: white;
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;
    cursor: pointer;
    transition: 0.3s;

    &-left {
        &:hover {
            transform: translateX(-5px);
        }
    }

    &-right {
        &:hover {
            transform: translateX(5px);
        }
    }

    &:active {
        transform: translateX(0);
    }
}


.days-field-common__days-item-year {
    width: 65px;
}

.days-field-common__days-item-month {
    width: 85px;
}

.days-field-common__incidents-per-hour-value {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Roboto-Bold", sans-serif;
    color: rgba(0, 0, 0, 0.85);
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 33px;
}

.days-field-common__item-link {
    transition: 0.3s;
    display: block;
    color: rgba(0, 0, 0, 0.85);
    padding: 15px;
    white-space: nowrap;
}

.worked-director,
.days-field-common__item:first-child .days-field-common__item-link--director {
    background-color:#b77b7b;
    color: white;
}

.worked-09-18,
.days-field-common__item:first-child .days-field-common__item-link--09-18 {
    background-color:#da81ac;
    color: white;
}

.worked-11-20,
.days-field-common__item:first-child .days-field-common__item-link--11-20 {
    background-color:#b54d83;;
    color: white;
}

.worked-08-20,
.days-field-common__item:first-child .days-field-common__item-link--08-20 {
    background-color:#3eb8c7;
    color: white;
}

.worked-09-21,
.days-field-common__item:first-child .days-field-common__item-link--09-21 {
    background-color:#c1b928;
    color: white;
}

.worked-10-22,
.days-field-common__item:first-child .days-field-common__item-link--10-22 {
    background-color:#40b768;
    color: white;
}

.worked-11-23,
.days-field-common__item:first-child .days-field-common__item-link--11-23 {
    background-color:#bb2a2a;
    color: white;
}

.worked-12-24,
.days-field-common__item:first-child .days-field-common__item-link--12-24 {
    background-color:#868267;
    color: white;
}

.worked-14-02,
.days-field-common__item:first-child .days-field-common__item-link--14-02 {
    background-color:#ae9478;
    color: white;
}

.worked-21-09,
.days-field-common__item:first-child .days-field-common__item-link--21-09 {
    background-color: #5e69a6;
    color: white;
}

.weekend {
    background-color: rgb(255, 255, 255);

    .days-field-common__item-input {
        opacity: 0;
        pointer-events:none; 
        cursor: pointer;
    }
}

.vacation {
    background-color: rgba(255, 203, 1, 1);

    .days-field-common__item-input {
        opacity: 0;
        pointer-events:none;
        cursor: pointer;
    }
}

.selected {
    border: 2px solid rgb(90, 90, 90);
}

@media (max-width: 1485px) { 

    .days-field-common__item {
        font-size: 14px;

        &:first-child {
            .days-field-common__item-link {
                display: flex;
                align-items: center;
                box-sizing: border-box;
                width: 152px;
                height: 45px;
                padding: 5px 10px;
                font-size: 13px;
            }
        }
    }

    .days-field-common__days-item {
        font-size: 14px;
    }

    .days-field-common__shift-and-team-title-item {

        &:nth-child(2) {
            left: 152.4px
        }
    
        &:nth-child(3) {
            left: 177.4px;
        }
    
    }
    
    .days-field-common__shift-and-team-item {

        &:nth-child(2) {
            left: 152.4px
        }
    
        &:nth-child(3) {
            left: 177.4px;
        }
    
    }

    .days-field-common__shift-and-team-item-input-wrapper {
        height: 45px;
    }

    .days-field-common__item-link {
        white-space: normal;
    }

    .days-field-common__item-worker-settings-btn {
        top: 6px;
        right: 6px;

        &:hover {
            transform: scale(1.2) rotate(30deg);
        }
    
        &:active {
            transform: scale(1.2) rotate(-30deg);
        }
        
    }

    .days-field-common__item-worker-settings-btn-img {
        width: 15px;
    }

    .days-field-common-years {
        font-size: 16px;
    }

    .days-field-common__days-item-month {
        width: 73px;
    }

    .days-field-common__days-item-year {
        width: 55px;
    }

}

@media (max-width: 1000px) { 
    
    .days-field-common__item {
        font-size: 12px;

        &:first-child {
            .days-field-common__item-link {
                width: 120px;
                height: 45px;
                padding: 5px 7px;
                font-size: 11px;
            }
        }
    }

    .days-field-common__item-link-text {
        vertical-align: middle;
    }

    .days-field-common__days-item {
        font-size: 12px;

        &:first-child {
            padding: 6px;
        }
    }

    .days-field-common__shift-and-team-title-item {

        &:nth-child(2) {
            left: 120.4px;
        }
    
        &:nth-child(3) {
            left: 145.4px;
        }
    
    }
    
    .days-field-common__shift-and-team-item {

        &:nth-child(2) {
            left: 120.4px;
        }
    
        &:nth-child(3) {
            left: 145.4px;
        }
    
    }

    .days-field-common__shift-and-team-item-input-wrapper {
        height: 45px;
    }


    .days-field-common__item-input {
        font-size: 12px;
    }

    .days-field-common__item-worker-settings-btn {
        opacity: 1;
        top: 2px;
        right: 2px;
        
    }

    .days-field-common-years {
        font-size: 14px;
    }

    .days-field-common__days-item-month {
        width: 58px;
    }

    .days-field-common__days-item-year {
        width: 45px;
    }
    
    .days-field-common__incidents-per-hour-btn,
    .days-field-common__days-item-btn-group .days-field-common__days-item-btn {
        font-size: 14px;

        &-left {

            &:hover {
                transform: translateX(0);
            }

            &:active {
                transform: translateX(-3px);
            }
        }
    
        &-right {

            &:hover {
                transform: translateX(0);
            }

            &:active {
                transform: translateX(3px);
            }
        }
    }
}