.filter-list {
    display: flex;
    flex-wrap: wrap;
    width: 240px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1485px) { 

    .filter-list {
        width: 146px;
    }

}

@media (max-width: 1000px) { 

    .filter-list {
        width: 115px;
    }
}