.filter-list__filter {
    list-style: none;
}

.filter-list__filter-btn {
    padding: 15px 50px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(16, 179, 242);
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.filter-list__filter-btn:hover {
    opacity: 0.8;
}

.filter-list__filter-btn:active {
    transform: scale(0.95);
}