@font-face {
	font-family: "Roboto-Bold"; 
	src: local("Roboto-Bold"),
	url(./fonts/Roboto-Bold.ttf); 
}

@font-face {
	font-family: "Roboto-Regular"; 
	src: local("Roboto-Regular"),
	url(./fonts/Roboto-Regular.ttf); 
}

body {
  margin: 0;
  overflow: scroll;
  font-family: "Roboto-Regular", sans-serif;
  background-color: #D3D3D3;
  background-repeat: no-repeat;
  background-image: url("../src/global-imgs/kek.jpg") ;
  background-size: 100% 100%;
}

a {
	text-decoration: none;
	outline: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}