@font-face {
	font-family: "Roboto-Bold"; 
	src: local("Roboto-Bold"),
	url(./fonts/Roboto-Bold.ttf); 
}

@font-face {
	font-family: "Roboto-Regular"; 
	src: local("Roboto-Regular"),
	url(./fonts/Roboto-Regular.ttf); 
}

body {
  	margin: 0;
  	overflow: scroll;
  	font-family: "Roboto-Regular", sans-serif;
  	background-color: #000;
  	background-repeat: no-repeat;
  	background-image: url("../src/global-imgs/background.jpg");
 	 background-size: 100%;
}

a {
	text-decoration: none;
	outline: none;
}