.working-shifts {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 30px;
    width: 85%;
}

.working-shifts__table-wrapper {
    width: 100%;
}

.working-shifts__table {
    width: 40%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.working-shifts__table-month {
    padding: 13px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 19px;
    color: rgb(243, 243, 243);
    background-color: #2f63a7;
    text-align: center;
}

.working-shifts__table-caption {
    padding: 13px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 19px;
    color: rgb(243, 243, 243);
    background-color: #5b7fae;
}

.working-shifts__table-row {
    background: #FFF;

    &:nth-child(even) {
        background: #FFF;
    }

    &:nth-child(odd) {
        background: #DDDCDC;
    }
}

.working-shifts__table-header {
    color: rgb(243, 243, 243);
    font-weight: 400;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.working-shifts__table-cell {
    color: #3b3b3b;
    font-size: 15px;
    padding: 8px 15px;
    width: 25%;
}

.working-shifts__table-header-gl {
    background-color: #626262;
    border-radius: 0;

    &:first-child {
        border-top-left-radius: 10px;
    }

    &:last-child {
        border-top-right-radius: 10px;
    }
}

.working-shifts__table-cell-team,
.working-shifts__table-cell-shift {
    background-color: #b5b5b5;
}

.working-shifts__table-header-8-20 {
    background-color: #60aecc;
}

.working-shifts__table-header-9-21 {
    background-color: #a9ae10;
}

.working-shifts__table-header-10-22 {
    background-color: #1db150;
}

.working-shifts__table-header-11-23 {
    background-color: #ae2323;
}

.working-shifts__table-header-12-24 {
    background-color: #938f70;
}

.working-shifts__table-header-14-02 {
    background-color: #a6835e;
}

.working-shifts__table-header-21-09 {
    background-color: #344fa0;
}

.working-shifts__table-row-team, 
.working-shifts__table-row-shifts {
    .working-shifts__table-cell {
        &:last-child {
            padding: 5px;
            width: 5%;
        }
    }
}