.working-shifts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    background-color: #EEE;
    
}

.working-shifts__table-wrapper-social {
    width: 63%;
}

.working-shifts__table-wrapper-km {
    width: 28%;
}

.working-shifts__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: #FFF;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.working-shifts__table-month {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 58.5px;
    margin-bottom: 45px;
    color: rgb(243, 243, 243);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
    background: linear-gradient(70deg, #ea6153, #e34938);

    .working-shifts__table-input-value {
        font-size: 16px;
    }
}

.working-shifts__table-caption {
    width: 100%;
    padding: 13px 0;
    margin-bottom: 15px;
    color: rgb(243, 243, 243);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.20);
}

.working-shifts__table-caption-social {
    background: linear-gradient(70deg, #5888c8, #3d71b7);
}

.working-shifts__table-caption-km {
    background: linear-gradient(70deg, #ff8f2c, #c46b1a);
}

.working-shifts__table-row-header {
    background: linear-gradient(70deg, #777, #4a5259);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.working-shifts__table-header {
    color: rgb(243, 243, 243);
    font-weight: 400;
    padding: 10px 0;

    .working-shifts__table-input-value {
        width: 95%;
        height: 24px;
        line-height: 24px;
        resize: none;
    }

    &:last-child {
        border-left: 1px solid #DDD;
    }
}

.working-shifts__table-header-hours {
    &:first-child {
        .working-shifts__table-input-value {
            width: 25px;
            font-size: 16px;
        }
    }
}

.working-shifts__table-header-hours-empty {
    border-left: 1px solid #DDD;
}

.working-shifts__table-wrapper-km {

    .working-shifts__table-cell {
        width: 80%;
    }
}

.working-shifts__table-cell {
    box-sizing: border-box;
    color: #3b3b3b;
    font-size: 15px;
    padding: 12px;
    border-bottom: 1px solid #DDD;

    .working-shifts__table-input-value {
        width: 95%;
        height: 20px;
        line-height: 20px;
        resize: none;
    }

    &:not(:last-child) {
        min-width: 290px;
    }

    &:last-child {
        max-width: 90px;
        min-width: 90px;
        width: 90px;
        padding: 5px;
        border-left: 1px solid #DDD;

        .working-shifts__table-input-value {
            width: 70px;
        }
    }

}

.working-shifts__table-cell-worker {
    &:last-child {
        padding: 5px;
        border-left: 1px solid #DDD;
        width: 90px;

        .working-shifts__table-input-value {
            width: 70px;
        }
    }
}

.working-shifts__table-row-08-20 {
    background: linear-gradient(70deg, #23c6db, #01aec5);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.working-shifts__table-row-09-21 {
    background: linear-gradient(70deg, #cccb79, #b8bd0d);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.working-shifts__table-row-10-22 {
    background: linear-gradient(70deg, #6fc48c, #1db150);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.working-shifts__table-row-11-23 {
    background: linear-gradient(70deg, #d55959, #9f0f0f);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.working-shifts__table-row-12-24 {
    background: linear-gradient(70deg, #aca88b, #a29845);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.working-shifts__table-row-14-02 {
    background: linear-gradient(70deg, #ae9478, #ae7a43);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.working-shifts__table-row-21-09 {
    background: linear-gradient(70deg, #5e69a6, #012388);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}

.working-shifts__table-row-team, 
.working-shifts__table-row-shifts {
    .working-shifts__table-cell {
        &:last-child {
            padding: 5px;
        }
    }
}

.working-shifts__table-input-value {
    border: none;
    outline: none;
    padding: 0;
    text-align: center;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        transform: scale(1.1);
        color: #4be872;
    }
}

.working-shifts__table-caption-social,
.working-shifts__table-caption-km {
    .working-shifts__table-input-value {
        width: 90%;
        font-size: 16px;
    }
}

@media (max-width: 1485px) { 

    .working-shifts__table-wrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 0 80px;

        &:not(:last-child) {
            margin-bottom: 100px;
        }
    }

    .working-shifts__table-month {
        height: 54px;

        .working-shifts__table-input-value{
            font-size: 14px;
        }
    }

    .working-shifts__table-caption {

        .working-shifts__table-input-value {
            font-size: 14px;
        }
    }

    .working-shifts__table-cell {
        &:not(:last-child) {
            min-width: 250px;
        }
    }

    .working-shifts__table-input-value {
        font-size: 12px;
    }

    .working-shifts__table-header-hours {
        font-size: 14px;
        &:first-child {
            .working-shifts__table-input-value {
                font-size: 14px;
            }
        }
    }
    
}


@media (max-width: 1000px) { 

    .working-shifts__table-wrapper {
        padding: 0;
    }

    .working-shifts__table-month {
        height: 48px;

        .working-shifts__table-input-value{
            font-size: 12px;
        }
    }

    .working-shifts__table-caption {

        .working-shifts__table-input-value {
            font-size: 12px;
        }
    }


    .working-shifts__table-header {

        .working-shifts__table-input-value {
            height: 22px;
            line-height: 22px;
        }

        &:last-child {

            .working-shifts__table-input-value {
                width: 95%;
                height: 22px;
                line-height: 22px;
            }
        }

    }


    .working-shifts__table-cell {
        padding: 10px 0;

        &:last-child {
            max-width: 50px;
            min-width: 50px;
            width: 50px;
    
            .working-shifts__table-input-value {
                width: 40px;
            }
        }

        &:not(:last-child) {
            min-width: 103px;
        }
    }
    
    .working-shifts__table-input-value {
        font-size: 10px;
    }

    .working-shifts__table-header-hours {
        font-size: 12px;
        &:first-child {
            .working-shifts__table-input-value {
                font-size: 12px;
            }
        }
    }
    
}


@media (max-width: 600px) { 
    .working-shifts__table {
        .working-shifts__table-header {
            .working-shifts__table-input-value {
                line-height: 20px;
            }
        }


        &:first-child {
            .working-shifts__table-header {
                .working-shifts__table-input-value {
                    width: 70%;
                    height: 40px;
                }
        
                &:last-child {
                    .working-shifts__table-input-value {
                        width: 70%;
                    }
                }
            }
        }
    }

    .working-shifts__table {
    
        &:not(:first-child) {
            .working-shifts__table-cell {
                &:not(:last-child) {
                    .working-shifts__table-input-value {
                        width: 95%;
                        height: 40px;
                        line-height: auto;
                    }
                }
            }
        }
    }
}


@media (max-width: 400px) { 
    .working-shifts__table {

        &:first-child {
            .working-shifts__table-header {
                .working-shifts__table-input-value {
                    width: 95%;
                }
            }
        }
    }
}