.register {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-top: 90px;
}

.register__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 435px;
    border-radius: 10px;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 8px 0px rgba(74, 74, 74, 0.9);
    padding: 60px 60px 40px;
}

.register__content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px; 
}


.register__content-title-text {
    color: rgba(0, 0, 0, 0.85);
    font-size: 20px;
}

.register__form {
    width: 100%;
    margin-bottom: 20px;
}

.register__form-select-wrapper,
.register__form-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.register__form-input {
    border: none;
    outline: none;
    font-family: "Roboto-Regular", sans-serif;
    background-color: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.85);
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    width: 70%;
    transition: 0.3s;

    &:hover,
    &:focus {
        border-bottom: 2px solid #FF4F12;
    }
}

.register__btn-wrapper {
    margin-top: 20px;
}

.register__form-select-wrapper {
    position: relative;
    margin-top: 18px;

    &::after {
        position: absolute;
        content: "";
        top: 8px;
        right: 7px;
        width: 12px;
        height: 7px;
        background: rgba(0, 0, 0, 0.85);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        transition: 0.3s;
        cursor: pointer;
    }

    &:hover {
        &::after {
            background: #FF4F12;
        }
    }
}

.register__form-select {
    appearance: none;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    text-align: center;
    text-align-last: center;
    font-family: inherit;
    padding: 0 5px;
    background: linear-gradient(360deg, #dfdddc, #fff);
    outline: none;
    font-size: 16px;
    width: 72%;
    cursor: pointer;
}

.register__form-select-option {
    background: #dfdddc;
}

.register__form-radio-title {
    text-align: center;
    margin: 30px 0 20px 0;
}

.register__form-radio-btns {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.register__form-radio-wrapper {
    display: flex;
    width: 65px;
    cursor: pointer;

    &::after{
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 10px;
        color: #f3f3f3;
        background-color: #FF4F12;
        border-radius: 8px;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
        transition: 0.2s;
    }
}


.register__form-radio {
    display: none;

    &:checked  + .register__form-radio-wrapper::after {
        content: "\2022";
        font-size: 30px;
        text-align: center;
        line-height: 16px;
    }
}

.register__form-radio:checked {
    background-color: turquoise;
    cursor: pointer;
}

.register__form-add-in-schedule {
    margin-top: 20px;
    padding: 15px 15px 20px 15px;
    border-radius: 5px;
    background-color: #e9e9e9;
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.register__form-input-wrapper--worker-name {
    flex-wrap: wrap;
    justify-content: center;

    .register__form-input {
        width: 100%;
        margin-top: 7px;
        text-align: center;
    }
}

.register__form-add-in-schedule-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;

    .register__form-select-wrapper {
        margin: 20px 0 0 0;
        width: 45%;
    }

    .register__form-select {
        width: 100%;
    }
}

.register__form-add-in-schedule-data-name {
    width: 100%;
    text-align: center;
}

.register__btn {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 100px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.85);
    outline: none;
    color: rgba(0, 0, 0, 0.85);
    background-color: transparent;
    font-family: "Roboto-Regular", sans-serif;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &:hover {
        color: rgba(0, 0, 0, 1);
        transform: scale(0.97);
    }

    &:active {
        transform: scale(0.95);
    }
}

.register__exit {
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    top: 5px;
    right: 1px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: rotate(80deg);
    }

    &:active {
        transform: rotate(0deg);
    }
}

.register__exit-img {
    width: 25px;
}

.register__error,
.register__success {
    text-align: center;
}

.register__error-text {
    color: #e12f2f;
    font-size: 13px;
}

.register__success-text {
    color: #009f0a;
    font-size: 13px;
}

@media (max-width: 1485px) { 

    .register__content-title-text {
        font-size: 19px;
    }

    .register__form-radio-title {
        font-size: 15px;
    }

    .register__form-input-name {
        font-size: 15px;
    }
    
    .register__form-input {
        font-size: 15px;
    }

    .register__form-select {
        font-size: 15px;
    }

    .register__form-add-in-schedule-data-name {
        font-size: 15px;
    }

    .register__btn {
        font-size: 15px;
    }
    
}


@media (max-width: 1000px) { 

    .register__content {
        width: 324px;
        padding: 60px 40px 40px;
    }

    .register__content-title-text {
        font-size: 18px;
    }

    .register__form-input-name {
        font-size: 14px;
    }
    
    .register__form-input {
        font-size: 12px;
    }
    
    .register__form-select-wrapper {

        margin-top: 17px;
    
        &::after {
            width: 10px;
            height: 6px;
        }
    }

    .register__form-select {
        font-size: 14px;
    }

    .register__form-add-in-schedule-data-name {
        font-size: 14px;
    }

    .register__btn {
        font-size: 14px;
        padding: 10px 60px;
    }

    .register__exit-img {
        width: 30px;
    }
}


@media (max-width: 600px) { 

    .register__content {
        position: absolute;
        left: 50%;
        margin-left: -162px;
        padding: 60px 15px 40px;
    }
}